<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'bets_input/style.css' %}">

    <!-- jQuery and Bootstrap CSS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.6.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

	<title>{% block title %}F1 Dashboard bets{% endblock %}</title>
	<style>
		.asteriskField {
			display: none;
		}
	</style>
</head>
<body>
    <div class="jumbotron" style="display:flex;justify-content: space-around;">
        <picture>
            <source srcset="/static/bets_input/formula-1-logo-7.png">
            <img src="/static/bets_input/formula-1-logo-7.png" alt="Flowers" class="img-fluid" style="max-width: 150px">
        </picture>
        <ul class="nav nav-pills">
            {% if request.get_full_path == '/' %}
                <li class="nav-item">
                    <a class="nav-link active" href={% url 'bets_input:index' %}>Bets registration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={% url 'bets_dash:index' %}>Result dashboard</a>
                </li>
            {% elif request.get_full_path == '/dash/' %}
                <li class="nav-item">
                    <a class="nav-link" href={% url 'bets_input:index' %}>Bets registration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href={% url 'bets_dash:index' %}>Result dashboard</a>
                </li>
            {% endif %}
        </ul>
    </div>
    {% block base %}
	{% endblock %}
	<script>
        htmx.onLoad(function(content) {
            var sortables = content.querySelectorAll(".sortable");
            for (var i = 0; i < sortables.length; i++) {
                var sortable = sortables[i];
                new Sortable(sortable, {
                    animation: 150,
                    ghostClass: 'blue-background-class'
                });
            }
        })
    </script>
</body>
</html>
