<section class="col-6">
<form class="sortable list-group " hx-trigger="end" hx-post={% url 'tips_input:sort' %} hx-target="#drivers-list" >
    {% csrf_token %}
    <div class="htmx-indicator">Updating...</div>
        {% for tip in tips %}
            <div class="mb-1">
                <input type='hidden' name='driver_order' value={{ tip.driver.pk }} />

                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {% if race_type == 'quali' %}
                        #{{ tip.position_quali }} {{ tip.driver.name }} ({{ tip.driver.team }})
                    {% endif %}
                    {% if race_type == 'race' %}
                        #{{ tip.position }} {{ tip.driver.name }} ({{ tip.driver.team }})
                    {% endif %}
                </li>
            </div>
        {% endfor %}
        <input type='hidden' name='current_player' value={{ current_player }} />
        <input type='hidden' name='current_race' value={{ current_race }} />
        <input type='hidden' name='race_type' value={{ race_type }} />
</form>
</section>
